<div class="my-container" dir="ltr">
  <div class="y-axis">
    <!-- This is for making flex-box space-between work correctly -->
    <p></p>
    <p *ngFor="let percent of percents">
      <span>{{ percent }}%</span>
    </p>
  </div>

  <div
    class="grid"
    [ngStyle]="{
      'grid-template-columns': 'repeat(' + gridSize + ', 1fr)',
      'grid-template-rows': 'repeat(' + gridSize + ', 1fr)'
    }"
  >
    <!-- First Item -->
    <div class="grid-item"></div>

    <ng-container *ngFor="let item of gridItems">
      <div class="grid-item" *ngFor="let filler of gridFillerCount"></div>
      <app-item-filler class="grid-item" [itemDetail]="item"></app-item-filler>
    </ng-container>
    <!-- For Filling last grid items -->
    <div class="grid-item" *ngFor="let x of gridFillerCount"></div>

    <!-- Last Item -->
    <div class="grid-item"></div>
  </div>

  <div class="x-axis">
    <p *ngFor="let price of prices">
      <span>ریال {{ price | number }}</span>
    </p>
    <!-- This is for making flex-box space-between work correctly -->
    <p></p>
  </div>
</div>
